//declaring Variables
$greyColor: #e6e6e6;
$textGreyLight: #999 !important;
$ctsBlueColor: #0033a0;
$arrowColor: #34c167;
$greenTextColor: #00af3f;
$buttonGreen: #00b140;
$buttonHoverGreen: #078335;
$backgroundColor: #fff;
$textBlack: #000 !important;
$smallFont: 0.85rem !important;
$darkGreyColor: #918e8e;
$textBlack: black;
$simpleWhite: white;