//**************************************NAVBAR*****************************************//
.navBar {
    position: sticky;
    top: 0;
    background-color: $backgroundColor;
    width: 100%;
    z-index: 999;
}
.logo {
    max-width: 220px !important;
    display: flex;
    width: 100%;
    border: 0;
    border-style: none;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.down-pointer {
    height: 1rem;
    width: 1rem;
}
ul {
    .nav-items {
        padding: 1rem;
        padding-right: 2rem;
        color: #000;
        font-weight: normal;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: white;
            background-color: $ctsBlueColor;
        }
        &::after {
            content: "\25BD";
            color: #00b140;
            font-size: 1rem;
            font-weight: 600;
            border-color: transparent;
            margin-left: 1rem;
            top: 23%;
            right: 1.15rem;
            cursor: pointer;
        }
    }
    .toggleBtn {
        color: $greenTextColor;
        display: none;
        margin-right: 1rem;
    }
}