//declaring Variables
$greyColor: #e6e6e6;
$ctsBlueColor: #0033a0;
$arrowColor: #34c167;
$greenTextColor: #00af3f;
$buttonGreen: #00b140;
$buttonHoverGreen: #078335;
$backgroundColor: #fff;
$textBlack: #000 !important;
$smallFont: 0.85rem !important;
$darkGreyColor: #918e8e;
//importing component scss's
//Main Scss
*::after,
*::before {
    box-sizing: inherit;
}
body {
    // height: auto !important;
    // width: 1081px !important;
    margin: 0;
    padding: 0;
    background: $backgroundColor;
    font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif", "ms gothic";
    font-weight: normal;
    line-height: 1.3;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    a {
        text-decoration: none;
    }
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    form,
    p,
    blockquote,
    th,
    td {
        margin: 0;
        padding: 0;
    }
}

.menu {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    // line-height: 2.25;
    background-color: $greyColor;
    li {
        display: inline-block;
        padding: 9px;
        .dot {
            height: 0.3rem;
            width: 0.3rem;
            border-radius: 50%;
            display: inline-block;
            padding: 0 !important;
        }
        a {
            &:hover {
                color: $greenTextColor !important;
            }
        }
        .black {
            background-color: #000;
        }
        .black-vertical {
            border-left: 2px solid #000;
            height: 5%;
        }
        .globeLogo {
            background-image: url("../assets/globe.png") no-repeat 0 0;
            padding: 0 0 0 21px;
            display: inline-block;
            height: 17px;
        }
        .searchLogo {
            padding: 0 0 0 21px;
            display: inline-block;
            height: 17px;
            cursor: pointer;
        }
    }
}
.text-black {
    font-size: $smallFont;
    color: $textBlack;
}

//**************************************NAVBAR*****************************************//
.navBar {
    position: sticky;
    top: 0;
    background-color: $backgroundColor;
    width: 100%;
    z-index: 999;
}
.logo {
    max-width: 220px !important;
    display: flex;
    width: 100%;
    border: 0;
    border-style: none;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.down-pointer {
    height: 1rem;
    width: 1rem;
}
ul {
    .nav-items {
        padding: 1rem;
        padding-right: 2rem;
        color: #000;
        font-weight: normal;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: white;
            background-color: $ctsBlueColor;
        }
        &::after {
            content: "\25BD";
            color: #00b140;
            font-size: 1rem;
            font-weight: 600;
            border-color: transparent;
            margin-left: 1rem;
            top: 23%;
            right: 1.15rem;
            cursor: pointer;
        }
    }
    .toggleBtn {
        color: $greenTextColor;
        display: none;
        margin-right: 1rem;
    }
}
/****************************SECTION-1*************************************************/
.dummycarousel {
    height: auto;
    width: 100% !important;
    margin-top: -4rem;
    &::before {
        content: "\25C1";
        color: $greenTextColor;
        position: relative;
        top: 7em;
        font-weight: 900;
        font-size: xxx-large;
        margin: 0.5em !important;
        z-index: 0;
    }
    .section1 {
        background-image: linear-gradient(
                to left,
                rgba(245, 246, 252, 0) 0,
                rgba(217, 219, 228, 0.774) 35%,
                rgba(255, 255, 255, 0.863) 50%,
                rgb(255, 255, 255) 100%
            ),
            url("../assets/imgo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    p {
        margin-bottom: 1rem;
        width: auto;
        font-size: calc(13.6px + 0.625vw) !important;
        line-height: 1.3;
        text-rendering: optimizeLegibility;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .carousel-progress {
        position: relative;
        font-size: inherit;
        display: flex;
        justify-content: center;
        top: -55px;
        li {
            margin: 1rem;
            button {
                border: none;
                cursor: pointer;
                height: 0.5em !important;
                width: 2.5em !important;
                &.active {
                    background-color: $buttonGreen;
                }
                &.not-active {
                    background-color: $darkGreyColor;
                }
            }
        }
    }
}
a {
    &.button {
        border: 1px solid $buttonGreen;
        color: $buttonGreen;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        margin: 0 0.5rem 1rem 0;
        padding: 0.85em 1em !important;
        border: 1px solid #00b140;
        border-radius: 0;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        z-index: 999;
        font-size: 1rem;
        &:hover {
            background-color: transparent;
            color: $buttonHoverGreen;
        }
        &::after{
            content: '\25B7';
            margin-left: 1rem;
            font-size: 1.8rem;
        }
    }
}
/*************************SECTION2*****************************/
.section-2 {
    height: 100%;
    width: 100%;
    margin-left: 1%;
    a{
        &:hover{
            background-color: $buttonHoverGreen !important;
        }
        &::after{
            content: '\25B7';
            margin-left: 1rem;
            font-size: 1.8rem;
        }
    }
    .column-block {
        margin-bottom: 1rem;
    }
    &.container {
        position: relative;
        height: auto;
        width: 100%;
    }
    .imgBox {
        max-width: 100%;
        // flex: 0 0 16.6rem;
        img {
            height: 18.4rem;
            width: 16.6rem;
            // object-fit: fill;
        }
    }
}

/*************************padding and margin and other common styles*****************************/
.flex-wrap {
    flex-wrap: wrap;
    // flex-direction: column;
}
.flex-row-1 {
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}
.label {
    display: inline-block !important;
    padding: 0.4rem 0.5rem !important;
    border-radius: 0 !important;
    font-size: 1rem !important;
    line-height: 1 !important;
    white-space: nowrap !important;
    cursor: default !important;
    background: #0033a0 !important;
    color: #fff !important;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: bold !important;
}
.mb-half {
    margin-bottom: 0.5rem;
}
.collapse {
    margin-right: 0;
    margin-left: 0;
}
.large-6 {
    flex: 0 0 50%;
}
.row {
    // max-width: 60rem;
    // margin-right: auto;
    max-width: 100%;
    margin-left: 2%;
    display: flex;
    flex-flow: row wrap;
}

.relative {
    position: relative !important;
}
.announcements {
    position: relative !important;
}
.column,
.columns {
    flex: 1 1 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    min-width: initial;
}
.pd-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.pd-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.ovpd-2 {
    padding: 2rem !important;
}
.ovpd-1 {
    padding: 1rem !important;
}
.pd-small {
    padding: 1px;
}

.wd-100 {
    width: 100%;
}
.fill-green{
    background-color: $buttonGreen;
    color: white!important;
}

.align-left {
    justify-content: flex-start;
}
.align-middle {
    // justify-content: center;
    align-items: center;
}
.horizontal-align {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.no-bullets {
    list-style-type: none;
}

.jc-spaceBetween {
    justify-content: space-between;
}
.disp-flex {
    display: flex;
}
.jc-spaceBetween {
    justify-content: space-between;
}
.no-pd {
    padding: 0;
    margin: 0;
}

.flex-dir-column {
    flex-direction: column;
}
.flex-dir-row {
    flex-direction: row;
}

.z1 {
    z-index: 1;
}
.text-blue {
    color: #0033a0 !important;
}
.h2 {
    font-size: 63px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 1rem;
}
.h5 {
    font-size: 1.8rem !important;
    line-height: 1.2 !important;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    color: #0033a0;
    font-weight: bold;
}
.bd-1 {
    border: 1px solid #ccc !important;
}
p {
    font-size: calc(13.6px + 0.625vw);
}
.small-order-1 {
    order: 1;
}
.small-order-2 {
    order: 2;
}
.small-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.medium-absolute {
    position: absolute !important;
}
.medium-p1 {
    padding: 1rem !important;
}
// .small {
//     font-size: 0.75rem !important;
// }
/*************************MEDIA QUERIES*****************************/
@media screen and (min-width: 1024px) {
    h2,
    .h2 {
        font-size: calc(22.2px + 3.98437vw) !important;
        width: 8em;
    }
    .section1-p {
        width: 46rem;
    }
}
@media screen and (max-width: 1024px) {
    .header,
    .hide-at-tabView {
        display: none;
    }
    .toggleBtn {
        display: block !important;
        padding: 5px 5px;
        border: 0;
        margin: 0;
        width: 2.2rem;
        height: 2rem;
        cursor: pointer;
        transition-duration: 2.5s;
    }
    h2,
    .h2 {
        font-size: calc(22.2px + 3.98437vw) !important;
    }
    p {
        font-size: calc(13.6px + 0.625vw) !important;
    }
    .button.small {
        font-size: calc(12.8px + 0.3125vw) !important;
    }
    .section1-p {
        width: 44rem;
        font-size: calc(13.6px + 0.625vw) !important;
    }
}
@media print, screen and (min-width: 64em) {
    h2,
    .h2 {
        font-size: calc(22.2px + 3.98437vw) !important;
    }
    .large-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .large-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .large-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .section1-p {
        width: 44rem;
        font-size: calc(13.6px + 0.625vw) !important;
    }
}
@media print, screen and (min-width: 40em) {
    .medium-p1 {
        padding: 1rem !important;
    }
    .medium-order-2 {
        order: 2;
    }
    .medium-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    h2,
    .h2 {
        font-size: calc(22.2px + 3.98437vw) !important;
    }
    .column,
    .columns {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .medium-pl3 {
        padding-left: 3rem !important;
    }
    .medium-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    h2,
    .h2 {
        font-size: 3.15rem;
    }
    .section1-p {
        width: auto;
        font-size: calc(13.6px + 0.625vw) !important;
    }
    .column-block {
        margin-bottom: 1.5rem;
    }
    .row .row {
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }
    .column-block > :last-child {
        margin-bottom: 0;
    }
    .medium-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .medium-8 {
        flex: 0 0 66.66667% !important;
        max-width: 66.66667% !important;
    }
    .medium-absolute {
        position: absolute !important;
    }
}

@media screen and (max-width: 640px) {
    .dummycarousel {
        &::before {
            content: "\25C1";
            color: $greenTextColor;
            position: relative;
            top: 9em;
            font-weight: 900;
            font-size: xx-large;
            margin: 0 !important;
        }
    }
    .section1-p {
        width: auto;
        font-size: calc(13.6px + 0.625vw) !important;
    }
    .container {
        flex-direction: column;
    }
    .imgBox {
        width: 100% !important;
        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
