*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif", "ms gothic";
  font-weight: normal;
  line-height: 1.3;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

body div,
body dl,
body dt,
body dd,
body ul,
body ol,
body li,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body pre,
body form,
body p,
body blockquote,
body th,
body td {
  margin: 0;
  padding: 0;
}

.menu {
  margin: 0;
  padding: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e6e6e6;
}

.menu li {
  display: inline-block;
  padding: 9px;
}

.menu li .dot {
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  padding: 0 !important;
}

.text-black {
  font-size: 0.85rem !important;
  color: black;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 999;
}

.logo {
  max-width: 220px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 0;
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.down-pointer {
  height: 1rem;
  width: 1rem;
}

ul .nav-items {
  padding: 1rem;
  padding-right: 2rem;
  color: #000;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul .nav-items:hover {
  color: white;
  background-color: #0033a0;
}

ul .nav-items::after {
  content: "\25BD";
  color: #00b140;
  font-size: 1rem;
  font-weight: 600;
  border-color: transparent;
  margin-left: 1rem;
  top: 23%;
  right: 1.15rem;
  cursor: pointer;
}

ul .toggleBtn {
  color: #00af3f;
  display: none;
  margin-right: 1rem;
}

/****************************SECTION-1*************************************************/
.dummycarousel {
  height: auto;
  width: 100% !important;
  margin-top: -4rem;
}

.dummycarousel::before {
  content: "\25C1";
  color: #00af3f;
  position: relative;
  top: 7em;
  font-weight: 900;
  font-size: xxx-large;
  margin: 0.5em !important;
  z-index: 0;
}

.dummycarousel .section1 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(245, 246, 252, 0)), color-stop(35%, rgba(217, 219, 228, 0.774)), color-stop(50%, rgba(255, 255, 255, 0.863)), to(white)), url("../assets/imgo.jpg");
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.774) 35%, rgba(255, 255, 255, 0.863) 50%, white 100%), url("../assets/imgo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dummycarousel p {
  margin-bottom: 1rem;
  width: auto;
  font-size: calc(13.6px + 0.625vw) !important;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

a.button {
  border: 1px solid #00b140;
  color: #00b140;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin: 0 0.5rem 1rem 0;
  padding: 0.65em 0.8em !important;
  border: 1px solid #00b140;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  z-index: 999;
  font-size: 1rem;
}

a.button:hover {
  background-color: transparent;
  color: #078335;
}

a.button::after {
  content: "\25B7";
  margin-left: 1rem;
  font-size: 1.8rem;
}

/*************************padding and margin and other common styles*****************************/
.green-hover:hover {
  background-color: #078335 !important;
}

.green-text-hover:hover {
  color: #078335 !important;
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
  font-style: normal !important;
}

.bold {
  font-weight: bold !important;
}

.hr {
  width: 88%;
}

.dynamic-heading {
  font-size: calc(13.6px + 2.625vw) !important;
}

.newsHead5 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #00af3f !important;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mb-one {
  margin-bottom: 1rem;
}

.mb-two {
  margin-bottom: 2rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mt-half {
  margin-top: 0.5rem;
}

.medium-p1 {
  padding: 1rem !important;
}

.m-top-2 {
  margin-top: 1rem;
}

.margin-l1 {
  margin-left: 1%;
}

.margin-r1 {
  margin-right: 1%;
}

.m-1 {
  margin: 0.7rem;
}

.medium-absolute {
  position: absolute !important;
}

.w-100 {
  width: 100%;
}

.collapse {
  margin-right: 0;
  margin-left: 0;
}

.large-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.row {
  max-width: 100%;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.pd-logo-header {
  padding: 0 0 0 21px;
  display: inline-block;
  height: 17px;
}

.relative {
  position: relative !important;
}

.z-0 {
  z-index: 0 !important;
}

.column,
.columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  min-width: initial;
}

.no-pd {
  padding: 0;
  margin: 0;
}

.pd-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.pd-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.pd-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pt-half {
  padding-top: 0.5rem;
}

.ovpd-2 {
  padding: 2rem !important;
}

.ovpd-1 {
  padding: 1rem !important;
}

.pd-small {
  padding: 2%;
}

.pd-xs {
  padding: 0.5%;
}

p {
  font-size: calc(13.6px + 0.625vw) !important;
}

.wd-100 {
  width: 100%;
}

.fill-green {
  background-color: #00b140;
  color: white !important;
}

.align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text-center {
  text-align: center;
}

.horizontal-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.no-bullets {
  list-style-type: none;
}

.jc-spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-spaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-flexStart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-flexEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.disp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-dir-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.z1 {
  z-index: 1;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-row-1 {
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

.text-normal {
  font-weight: normal !important;
}

.text-blue {
  color: #0033a0;
}

.text-grey {
  color: #999 !important;
}

.text-white {
  color: white;
}

.text-small {
  font-size: 1rem;
}

.bg-blue {
  background-color: #0033a0;
}

.bg-grey {
  background-color: #e6e6e6;
}

.black-vertical {
  border-left: 2px solid #000;
  height: 5%;
}

.h2 {
  font-size: 63px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1rem;
}

.h5 {
  font-size: 1.8rem;
  line-height: 1.2 !important;
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
  color: #0033a0;
  font-weight: bold;
}

.bd-1 {
  border: 1px solid #ccc !important;
}

.bd-bt-1 {
  border-bottom: 1px #ccc solid !important;
}

.small {
  font-size: 0.75rem !important;
}

.label {
  display: inline-block !important;
  padding: 0.4rem 0.5rem !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
  line-height: 1 !important;
  white-space: nowrap !important;
  cursor: default !important;
  background: #0033a0 !important;
  color: #fff !important;
}

.btn-large {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0rem;
  min-width: 17.87rem;
  height: 2rem;
}

.custom-label {
  margin-top: 5%;
  width: 36%;
  font-size: calc(13px + 0.2vw) !important;
}

.fab {
  margin-left: 5%;
}

.far,
.fab {
  cursor: pointer;
  margin-right: 2%;
  color: #999 !important;
}

.fab:hover,
.far:hover {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #00af3f !important;
}

.fa-twitter {
  margin-right: 50% !important;
}

.carousel {
  overflow: hidden;
  height: 5rem;
}

.carousel-progress {
  position: relative;
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -55px;
}

.carousel-progress li {
  margin: 1rem;
}

.carousel-progress li button {
  border: none;
  cursor: pointer;
  height: 0.5em !important;
  width: 2.5em !important;
}

.carousel-progress li button.active {
  background-color: #00b140;
}

.carousel-progress li button.not-active {
  background-color: #918e8e;
}

.active-state {
  text-decoration: underline;
  color: #0033a0;
  opacity: 0.7;
}

/*************************MEDIA QUERIES*****************************/
@media screen and (min-width: 1024px) {
  h2,
  .h2 {
    font-size: calc(22.2px + 3.98437vw) !important;
    width: 8em;
  }
  .section1-p {
    width: 46rem;
  }
  .section-13 ul li i {
    font-size: calc(3.6px + 1.6vw) !important;
  }
  .section-13 ul li a {
    font-size: calc(-3.4px + 1.625vw) !important;
  }
}

@media screen and (max-width: 1024px) {
  .h3 {
    font-size: calc(19px + 2.73438vw) !important;
  }
  .h5 {
    font-size: calc(15px + 1.17188vw) !important;
  }
  .section-0 .header {
    display: none;
  }
  .hide-at-tabView {
    display: none;
  }
  .section-14 .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .section-14 .div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    height: 10rem;
  }
  .section-14 .div2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    height: 10rem;
  }
  .section-14 .div3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    height: 10rem;
  }
  .section-14 .div4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
    height: 10rem;
  }
  .section-14 .div5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
    height: 10rem;
  }
  .section-14 .div6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
    height: 10rem;
  }
  .section-14 .div7 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
    height: 10rem;
  }
  .section-14 .div8 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 5 / 3;
    height: 10rem;
  }
  .section-14 .div9 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 5 / 4;
  }
  .toggleBtn {
    display: block !important;
    padding: 5px 5px;
    border: 0;
    margin: 0;
    width: 2.2rem;
    height: 2rem;
    cursor: pointer;
    -webkit-transition-duration: 2.5s;
            transition-duration: 2.5s;
  }
  h2,
  .h2 {
    font-size: calc(22.2px + 3.98437vw) !important;
  }
  p {
    font-size: calc(13.6px + 0.625vw) !important;
  }
  .button.small {
    font-size: calc(12.8px + 0.3125vw) !important;
  }
  .section1-p {
    width: 44rem;
    font-size: calc(13.6px + 0.625vw) !important;
  }
  .news-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .single-news {
    max-width: 100% !important;
    height: auto !important;
  }
  .h3 {
    font-size: 47px;
  }
  .section-8 {
    margin-bottom: 0.2rem !important;
  }
  .small {
    font-size: calc(12.6px + 0.23438vw) !important;
  }
  .category-state {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
  }
  .category-state .state-type {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .category-state .state-type .black-vertical {
    display: none;
  }
  .category-state .state-type .item-head {
    display: none;
  }
  .category-state .state-type li:nth-child(2) {
    width: 50%;
    padding: 3%;
    text-align: center;
  }
  .category-state .state-type li:nth-child(4) {
    width: 50%;
    padding: 3%;
    text-align: center;
    background-color: #e6e6e6;
    border-bottom: 1px solid #ccc !important;
  }
  .section-13 .finale {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  .section-13 li.youtube {
    margin-right: 0 !important;
  }
}

@media print, screen and (min-width: 64em) {
  h2,
  .h2 {
    font-size: calc(22.2px + 3.98437vw) !important;
  }
  .large-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .large-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .large-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .section1-p {
    width: 44rem;
    font-size: calc(13.6px + 0.625vw) !important;
  }
  .h5 {
    font-size: calc(15px + 1.17188vw) !important;
  }
}

@media print, screen and (min-width: 40em) {
  .medium-p1 {
    padding: 1rem !important;
  }
  h2,
  .h2 {
    font-size: calc(22.2px + 3.98437vw) !important;
  }
  .column,
  .columns {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .medium-pl3 {
    padding-left: 3rem !important;
  }
  .medium-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  h2,
  .h2 {
    font-size: 3.15rem;
  }
  .section1-p {
    width: auto;
    font-size: calc(13.6px + 0.625vw) !important;
  }
  .column-block {
    margin-bottom: 1.5rem;
  }
  .row .row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  .column-block > :last-child {
    margin-bottom: 0;
  }
  .medium-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .medium-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }
  .medium-absolute {
    position: absolute !important;
  }
  .newsHead5 {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 640px) {
  .dummycarousel::before {
    content: "\25C1";
    color: #00af3f;
    position: relative;
    top: 9em;
    font-weight: 900;
    font-size: xx-large;
    margin: 0 !important;
  }
  .h5 {
    font-size: calc(15px + 1.17188vw) !important;
  }
  .section1-p {
    width: auto;
    font-size: calc(13.6px + 0.625vw) !important;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-4.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .imgBox {
    width: 100% !important;
  }
  .imgBox img {
    width: 100% !important;
    height: 100% !important;
  }
  .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-3 .single-box-1 {
    width: 100% !important;
    margin-bottom: 1%;
  }
  .section-3 .single-box-2 {
    width: 100% !important;
    margin-left: 1% !important;
  }
  .section-7 {
    padding: 4.5rem !important;
  }
  .section-7 .imgBox {
    margin-right: auto;
    margin-left: auto;
    width: 13.3rem !important;
    height: 17.3rem !important;
  }
  .section-7 .imgBox img {
    padding-top: 0 !important;
    padding-top: 0 !important;
  }
  .section-7 .content {
    margin-left: 0 !important;
  }
  .section-7 .content .label {
    margin-top: 0 !important;
  }
  .category-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-14 div {
    margin-bottom: 3.6rem;
  }
}

@media screen and (max-width: 1124px) {
  .single-img-section-10 {
    width: 20.3rem !important;
  }
}

@media screen and (max-width: 1076px) {
  .single-img-section-10 {
    width: 19.3rem !important;
  }
}

@media screen and (max-width: 1026px) {
  .single-img-section-10 {
    width: 18.3rem !important;
  }
}

@media screen and (max-width: 979px) {
  .single-img-section-10 {
    width: 17.3rem !important;
  }
}

@media screen and (max-width: 930px) {
  .single-img-section-10 {
    width: 16.3rem !important;
  }
}

@media screen and (max-width: 882px) {
  .single-img-section-10 {
    width: 21.3rem !important;
  }
  .imgArea {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
}

@media screen and (max-width: 755px) {
  .single-img-section-10 {
    width: 40rem !important;
  }
  .single-img-section-10 hr {
    width: 93% !important;
  }
}

@media screen and (max-width: 692px) {
  .section-14 div {
    margin-bottom: 3.6rem;
  }
}

@media screen and (min-width: 320px) {
  body .section-1,
  body .section-2,
  body .section-3,
  body .section-4,
  body .section-5,
  body .section-6,
  body .section-7,
  body .section-8,
  body .section-9,
  body .section-10,
  body .section-11,
  body .section-12,
  body .section-13,
  body .section-14 {
    margin-left: 0.3% !important;
  }
  .section-7 {
    padding: 0 !important;
  }
  .section-7 .imgBox {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 620px) {
  .section-14 .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0 !important;
        grid-template-columns: 0 !important;
    -ms-grid-rows: (1fr)[9] !important;
        grid-template-rows: repeat(9, 1fr) !important;
    grid-column-gap: 5px !important;
    grid-row-gap: 5px !important;
  }
  .section-14 .parent .div1 {
    grid-area: 0.25 !important;
  }
  .section-14 .parent .div2 {
    grid-area: 0.33333 !important;
  }
  .section-14 .parent .div3 {
    grid-area: 0.375 !important;
  }
  .section-14 .parent .div4 {
    grid-area: 0.4 !important;
  }
  .section-14 .parent .div5 {
    grid-area: 0.41667 !important;
  }
  .section-14 .parent .div6 {
    grid-area: 0.42857 !important;
  }
  .section-14 .parent .div7 {
    grid-area: 0.4375 !important;
  }
  .section-14 .parent .div8 {
    grid-area: 0.44444 !important;
  }
  .section-14 .parent .div9 {
    grid-area: 0.45 !important;
  }
}

body i {
  font-style: normal !important;
}

/*************************************************SECTION2*************************************************/
.section-2 {
  height: 100%;
  width: 100%;
  margin-left: 1%;
}

.section-2 a::after {
  content: "\25B7";
  margin-left: 1rem;
  font-size: 1.8rem;
}

.section-2 .column-block {
  margin-bottom: 1rem;
}

.section-2.container {
  position: relative;
  height: auto;
  width: 100%;
}

.section-2 .imgBox {
  max-width: 100%;
  background-size: cover;
  background-position: center center;
}

.section-2 .imgBox img {
  height: 18.4rem;
  width: 16.6rem;
}

/*************************************************SECTION-3*************************************************/
.section-3 {
  width: 100%;
}

.section-3 .single-box-1 {
  width: 50%;
  min-height: 100%;
  margin-left: 1%;
}

.section-3 .single-box-1 .content {
  height: 100%;
}

.section-3 .single-box-1 .img-area {
  background-size: cover;
  background-position: center center;
}

.section-3 .single-box-1 img {
  width: 100%;
}

.section-3 .single-box-2 {
  width: 50%;
  min-height: 100%;
  margin-left: 2%;
}

.section-3 .single-box-2 .content {
  height: 100%;
}

.section-3 .single-box-2 .img-area {
  background-size: cover;
  background-position: center center;
}

.section-3 .single-box-2 img {
  width: 100%;
}

/************************************************** SECTION-4 ********************************************************/
.section-4 {
  margin-left: 1%;
}

.section-4 a {
  line-height: inherit;
  color: #00b140;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.section-4 img {
  height: 19.9rem;
  width: 16.6rem;
}

.section-6 .img {
  margin-right: -4rem !important;
}

/************************************************** SECTION-7 ********************************************************/
.section-7 {
  margin-left: 1%;
  background-color: #e6e6e6;
  border: none;
}

.section-7 .imgBox {
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.section-7 .imgBox img {
  padding-top: 15% !important;
}

.section-7 .content {
  margin-left: 2rem;
  margin-left: 2rem;
  margin-top: 4rem;
}

/************************************************** SECTION-8 ********************************************************/
.section-8 {
  max-width: 100%;
  margin-bottom: 4rem;
}

.section-8 h3 {
  font-size: 47px;
  color: #0033a0 !important;
}

.section-8 .single-news {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 28.5%;
  height: 10.875rem;
}

/************************************************** SECTION-8 ********************************************************/
.section-9 {
  height: auto;
  width: 100%;
}

.section-9 i {
  width: 100px;
}

.section-9 i.newspaper::after {
  content: "\1F4F0";
  color: white;
}

.section-9 i.newspaper span {
  font-size: 3rem !important;
}

.section-9 i.newspaper .date {
  font-weight: 700 !important;
}

.section-9 h5 {
  font-size: calc(13.6px + 0.625vw) !important;
}

/************************************************** SECTION-10 ********************************************************/
.section-10 {
  height: auto;
  min-width: 0;
}

.section-10 h3 {
  font-size: calc(13.6px + 2.625vw) !important;
}

.section-10 .contact-logo {
  width: 88%;
  margin-left: 3.6%;
}

.section-10 .contact-logo .fa-chevron-right {
  cursor: pointer;
  font-size: 116%;
  color: #00af3f !important;
}

.section-10 .contact-logo .fa-chevron-right:hover {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #078335 !important;
}

.section-10 .single-img-section-10 {
  width: 21.3rem;
  min-width: 15rem;
  min-height: 21.9rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-10 .single-img-section-10 .newsHead5 {
  margin-bottom: -1.4rem !important;
}

.section-10 .single-img-section-10:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(25%, rgba(217, 219, 228, 0.815)), color-stop(28%, #d9dbe4), color-stop(50%, white), to(white)), url("../assets/img1.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.815) 25%, #d9dbe4 28%, white 50%, white 100%), url("../assets/img1.jpg");
}

.section-10 .single-img-section-10:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(15%, rgba(217, 219, 228, 0.815)), color-stop(28%, #d9dbe4), color-stop(50%, white), to(white)), url("../assets/img2.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.815) 15%, #d9dbe4 28%, white 50%, white 100%), url("../assets/img2.jpg");
}

.section-10 .single-img-section-10:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(15%, rgba(217, 219, 228, 0.815)), color-stop(28%, #d9dbe4), color-stop(50%, white), to(white)), url("../assets/img3.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.815) 15%, #d9dbe4 28%, white 50%, white 100%), url("../assets/img3.jpg");
}

.section-10 .single-img-section-10:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(15%, rgba(217, 219, 228, 0.815)), color-stop(28%, #d9dbe4), color-stop(50%, white), to(white)), url("../assets/img4.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.815) 15%, #d9dbe4 28%, white 50%, white 100%), url("../assets/img4.jpg");
}

.section-10 .single-img-section-10:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(15%, rgba(217, 219, 228, 0.815)), color-stop(28%, #d9dbe4), color-stop(50%, white), to(white)), url("../assets/img5.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.815) 15%, #d9dbe4 28%, white 50%, white 100%), url("../assets/img5.jpg");
}

.section-10 .single-img-section-10:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(15%, rgba(217, 219, 228, 0.815)), color-stop(28%, #d9dbe4), color-stop(50%, white), to(white)), url("../assets/img6.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.815) 15%, #d9dbe4 28%, white 50%, white 100%), url("../assets/img6.jpg");
}

.section-10 .single-img-section-10 img {
  width: 100%;
  height: 100%;
}

.section-10 .carousel-progress {
  top: 24px !important;
}

/************************************************** SECTION-11 ********************************************************/
.section-11 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-wrap;
          flex-flow: row-wrap;
}

.section-11 .blog-section {
  padding: 2%;
}

.section-11 .author-section .userImage {
  padding: 1.5rem !important;
  width: 1.9rem;
  height: 1.9rem;
  font-size: 1.9rem;
  border: 1px solid #999 !important;
  border-radius: 50%;
}

/************************************************** SECTION-12 ********************************************************/
.section-12 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 246, 252, 0)), color-stop(10%, rgba(217, 219, 228, 0.13)), color-stop(20%, rgba(217, 219, 228, 0.349)), color-stop(30%, rgba(217, 219, 228, 0.438)), color-stop(50%, rgba(255, 255, 255, 0.199)), to(white)), url("../assets/formbg.jpg");
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0) 0, rgba(217, 219, 228, 0.13) 10%, rgba(217, 219, 228, 0.349) 20%, rgba(217, 219, 228, 0.438) 30%, rgba(255, 255, 255, 0.199) 50%, white 100%), url("../assets/formbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.section-12 a {
  opacity: 0.8;
  cursor: not-allowed;
}

.section-12 .form .form-item {
  width: 19.3rem;
  height: 3rem;
  background-color: transparent;
}

.section-12 .form .form-item input {
  width: 100%;
  height: 100%;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.445);
  background-color: transparent;
}

.section-12 .form .form-item input:focus {
  outline: none;
}

.section-12 .form .form-item input::-webkit-input-placeholder {
  color: black;
}

.section-12 .form .form-item input:-ms-input-placeholder {
  color: black;
}

.section-12 .form .form-item input::-ms-input-placeholder {
  color: black;
}

.section-12 .form .form-item input::placeholder {
  color: black;
}

.section-12 .form .form-item-large {
  width: 32rem;
  height: 3rem;
  background-color: transparent;
}

.section-12 .form .form-item-large input {
  width: 100%;
  height: 100%;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.404);
  background-color: transparent;
}

.section-12 .form .form-item-large input:focus {
  outline: none;
}

.section-12 .form .form-item-large input::-webkit-input-placeholder {
  color: black;
}

.section-12 .form .form-item-large input:-ms-input-placeholder {
  color: black;
}

.section-12 .form .form-item-large input::-ms-input-placeholder {
  color: black;
}

.section-12 .form .form-item-large input::placeholder {
  color: black;
}

/************************************************** SECTION-13 ********************************************************/
.section-13 {
  width: 100%;
  margin-bottom: 3rem;
}

.section-13 .header {
  background-color: #e6e6e6;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.section-13 .finale {
  width: 100%;
}

.section-13 ul li i {
  font-size: 2rem;
  padding: 5%;
}

.section-13 ul li a {
  font-size: 2rem;
}

.section-13 ul li.youtube {
  margin-right: 20%;
}

/************************************************** SECTION-14 ********************************************************/
.section-14 div {
  height: auto;
}

.section-14 ul li {
  margin-bottom: 1%;
  line-height: 1.5;
}

.section-14 h6 {
  font-size: calc(3.6px + 1.625vw) !important;
}

.section-14 .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.section-14 .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  height: 16rem;
}

.section-14 .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
  height: 16rem;
}

.section-14 .div3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 5 / 3;
  height: 16rem;
}

.section-14 .div4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 5 / 5;
  height: 16rem;
}

.section-14 .div5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 7 / 3;
  height: 16rem;
}

.section-14 .div6 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5 / 3 / 7 / 5;
  height: 16rem;
}

.section-14 .div7 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 7 / 1 / 9 / 3;
  height: 16rem;
}

.section-14 .div8 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7 / 3 / 9 / 5;
  height: 16rem;
}

.section-14 .div9 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1 / 5 / 9 / 7;
}
/*# sourceMappingURL=styles.css.map */